/* for Header */
.Component_Header
  flexbox()
  flex-wrap(wrap)
  justify-content(space-between)
  position fixed
  width 100%
  
  .Header__prev
    button-reset()
    display block
    height 44px
    width 32px
    border none
    margin-left Space_sizes[4]
    arrow-left(20px, 1px, Service_MainFontColor)