.Component_PayCount
  width 100px
  margin-left 50%
  padding-top 14px
  left -40px
  position relative
  
  .PayCounte__button
    button-reset()
    margin 0 auto
    background-color gunosy_red 
    border-radius Border_radius[1]
    height 40px
    width 80px
    disply inline-block
  .PayCounte__counter
    position relative
    font-weight bold
    margin-left 12px
    font-size Font_sizes[3]