.Component_PerformerProfile
  padding-top 100px
  background-color #f0ee81
  text-align center
  
  .PerformerProfile__heading
    font-size Font_sizes[1]
    color gunosy_separate_border
    text-align center
    padding Space_sizes[3] Space_sizes[4] Space_sizes[2]
    margin 0 auto
    background #fff
    position relative
    z-index 1
    
    &:before
      content ""
      display block
      position absolute
      width 100%
      height 200px
      top -70px
      margin-left -20px
      background url(/images/parts/object-ori.svg) 0 0 no-repeat
      z-index -1
        
  .PerformerProfile__name
    text-align center
    font-size Font_sizes[4]
    text-align center
    opacity .5
    margin-bottom Space_sizes[4]
    position relative
    z-index 4
    
  .PerformerProfile__information
    text-align center
    padding 30px
    background #fff
    
  .PerformerProfile__description
    margin 0 Space_sizes[8] Space_sizes[3]
    line-height Line_heights[3]
    color Service_MainFontColor
    font-size Font_sizes[1]
    text-align left
    
  
  .Component_ThumbsBackgroundImage
    animation-name scaler2
    animation-duration 2.5s
    animation-iteration-count 1
    //animation-delay 2s
    animation-timing-function cubic-bezier(0.175, 0.885, 0.32, 1.275)//cubic-bezier(0.6, -0.28, 0.74, 0.05)
    
    @-webkit-keyframes scaler2
      from 
        opacity 0
        transform scale(1.2)
      to
        opacity 1
        transform scale(1)
    @keyframes scaler2
      from 
        opacity 0
        transform scale(1.2)
      to
        opacity 1
        transform scale(1)