
.PerformerProfile__name
  text-align: center;
  left: 0;
  right: 0
  position: absolute;
  top: 300px;

.PerformerProfile__information
  text-align: center;
  left: 0;
  right: 0
  position: absolute;
  top: 320px;
  padding: 30px;

.PerformerProfile__description
  text-align: center;
  left: 0;
  right: 0
  position: absolute;
