.Component_Pusher
  .modal__body
    height 300px
    background #f0ee81
    border-radius Border_radius[2]
    box-shadow none
    .Component_ThumbsBackgroundImage
      display none
    
    .user__name
      padding-top 2em
      margin-top 0
      font-size Font_sizes[4]
      font-family Georgia
      color Service_MainFontColor
      line-height Line_heights[2]
      retina-border('bottom', #333, after)
      &:after
        top 70px
      
    .user__payment
      position relative
      top -30px
      margin-top 0
      line-height Line_heights[2]