.Component_RegistNav
  text-align center
  
  .RegistNav__button
    margin 0 auto
    width 60%
    padding Space_sizes[4]
    border 1px solid #2da7e0
    border-radius Border_radius[1]
    text-indent -9999px
    display block
    background url(/images/parts/icon-twitter.svg) no-repeat 50% 50%
    
    