/* for ThumbsBackgroundImage */
.Component_ThumbsBackgroundImage
  text-align center;
  //left 0
  //right 0
  //position absolute
  //top 150px
  width 150px
  height 150px
  border-radius 150px
  margin 0 auto
  position relative
  top -22px
  background-size cover
  & > img
    display none