// : Gunosy UI Color Variables

gunosy_separate_border  = #dadada
gunosy_providor_color   = #ccc
gunosy_tab_colors = #f5478c #f96148 #ff9c50 #54cc55 #5eaaf7 #617df5

gunosy_pink_red = #f5478c
gunosy_red = #f96148
gunosy_orange = #ff9c50
gunosy_green = #54cc55
gunosy_blue = #5eaaf7
gunosy_light_purple = #617df5