<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body>
    <header>
        {{ template "partials/nav" . }}
    </header>

    <div>
        {{ .User }}
    </div>

    <div class="wrapper">
        <section>
            <a href="/payment/create"><h2>Payment</h2></a>
            <a href="/payment/payout"><h2>Payout</h2></a>
            <a href="/payment/list"><h2>History</h2></a>
        </section>
        <footer>
            {{ template "partials/footer" . }}
        </footer>
    </div>
    {{ template "partials/scripts" . }}
</body>
</html>
