/* for TopPage */
.app
  width: 100px;
  height: 100px;

.Page_Top
  .Component_BeaconHat
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 170px;
    margin: 30px;


.TopRegist
  .TopRegist__heading
    text-align: center;
    left: 0;
    right: 0
    position: absolute;
    bottom: 150px;

.TopRegist
  .Component_RegistNav
    text-align: center;
    left: 0;
    right: 0
    position: absolute;
    bottom: 70px;
