/* for TopPage */
.app
    width: 100px;
    height: 100px;


.Page_Top
  .Component_BeaconHat
    text-align: center;
    margin: 30px;


.TopRegist
  .TopRegist__heading
    text-align: center;
    margin: 80px;

.TopRegist
  .Component_RegistNav
    text-align: center;
